@using Elka.Core
@model Course

<div>
	<b>Moniker:</b>  @Model.Moniker
</div>
<div>
	<b>ECTS:</b>  @Model.ECTS
</div>
<div>
	<b>Teacher:</b>  @Model.Teacher.FirstName @Model.Teacher.LastName
</div>
<div>
	<b>How easy:</b>  @Model.HowEasy
</div>
<div>
	<b>Interesting level:</b>  @Model.InterestingLevel
</div>
<div>
	<b>Descriptions:</b>  @Model.Descriptions
</div>