@page "{courseId:int}"

@model Elka.Pages.Courses.DetailsModel
@{
	ViewData["Title"] = "Detail";
}

<h2>@Model.Course.Name</h2>

@if (Model.Message != null)
{
	<div class="alert alert-info">@Model.Message</div>
}

@{
	<partial name="_Detail" model="@Model.Course"/>
}
<br>

<a asp-page="./List" class="btn btn-info">Back to list</a>
<a asp-page="./Edit" class="btn btn-light" asp-route-courseid="@Model.Course.Id">Edit this course</a>
<a asp-page="./Delete" class="btn btn-danger" asp-route-courseid="@Model.Course.Id">Delete</a>